:root {
    --cell-size: 60px;
    --grid-size: 10;    
}

body {
    background-color: #6a6ac5;
}

#grid {
    width: calc(var(--cell-size) * var(--grid-size));
    height: calc(var(--cell-size) * var(--grid-size));
    display: flex;
    flex-wrap: wrap;
}

#grid > div {
    width: var(--cell-size);
    height: var(--cell-size);   
    border: solid 1px white;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.good-food {
    background-image: url(./images/good-food.png);
}

.rotten-food {
    background-image: url(./images/rotten-food.png);
}

.character {
    background-image: url(./images/character.png);
}